<div><img src="img/bede-logo1.png" /> <h1>Betting Slip</h1></div>
<h2>Thank you for placing this bet</h2>
<h3>Your Receipt</h3>
<div id="receipts-container"></div>
<h3>Total potential return: £<span id="total-return"></span></h3>