<h2>Your Bets</h2>
<div class="bet-slip">
    <span class="error-message" id="error-message"></span>
    <div id="bets-container">
    </div>
    <button id="clear-button" class="clear-button">Clear Slip</button>
    <button id="place-bet-button" class="bet-button">Place Bet</button>
    <p>Potential return £<span id="slip-return">0.00</span></p>
</div>

